{erl_opts, [debug_info]}.

{deps, [
    % Cowboy: Usamos el repo de Git y la última etiqueta estable 2.x
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.14.2"}}},
    
    % Ranch: Dependencia de Cowboy, con la última etiqueta estable 2.x
    {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "2.2.0"}}},
    
    % Cowlib: Debe coincidir con la versión más reciente que soporta Cowboy 2.14.2
    {cowlib, {git, "https://github.com/ninenines/cowlib.git", {tag, "2.16.0"}}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [hero_realms_backend]}
]}.